body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#view {
  display: flex;
}

#new-recipe {
  width: 60%;
}

#top-5 {

}