body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-align: center;
}

#view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#view > * {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  min-height: 70vh;
}

#new-recipe {

}

#top-5 {

}